<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Portifólios</title>

    <!--CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-4.5.2/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/fontawesome-5.14.0/css/all.css}">
    <link rel="stylesheet" th:href="@{/css/estilo.css}">

</head>
<body>
    <!--MENU-->
    <nav class="navbar navbar-expand-sm navbar-dark " style="background-color: #8B0000; color : white;">
        <a class="navbar-brand" th:href="@{/}">Gerenciamento de Usuarios</a>
        <!--BOTÃO MENU-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>  
        <!--ITENS DO MENU-->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/}">Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/usuario/list}">Funcionários</a>
                </li>
            </ul>
        </div>
    </nav>


    <!--CONTEÚDO-->
    <div class="container container-funcionario">
        
		<div class="bg-dark frm-titulo">
            <h3>Usuario</h3>
        </div>

        <form th:object="${usuario}">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Código</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="codigo" th:field="${usuario.id}" readonly>
                </div>    
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nome</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nome" th:field="${usuario.nome}" readonly>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="email" th:field="${usuario.email}" readonly>
                </div>    
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-sm btn-light btn-controle"
                        onclick="window.location.href='../list'">
                        <i class="fa fa-backspace"></i> Voltar
                    </button>
                </div>
                

            </div>


        </form>
        
    </div>
 <!--FOOTER-->
	<footer>
		<label class="lbl-footer">
			<i class="far fa-copyright" aria-hidden="true"></i> Todos os direitos reservados.
		</label>
	</footer>

    <!-- JS -->
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/bootstrap-4.5.2/js/bootstrap.min.js}"></script>
</body>
</html>